__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/
*.egg

venv/
env/
.env/
.venv/

.idea/
.vscode/
*.sublime-*

.ipynb_checkpoints

.coverage
htmlcov/
coverage.xml
coverage/

*.log

.DS_Store
.pytest_cache/ 